<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>empresas</display-name>
  
  <!-- paginas carregadas no inicio da aplicação -->
  <welcome-file-list>
    <welcome-file>cadastrar-empresa.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- configuração do servlet (deprecated) -->
  <servlet>
  <servlet-name>listaXML</servlet-name>
  	<servlet-class>br.com.cursojavaweb.empresas.servlet.ListaEmpresasServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>listaXML</servlet-name>
  	<url-pattern>/listaXML</url-pattern>
  </servlet-mapping>
</web-app>